*build*
*devel*
*CMakeFiles*
*catkin_generated*
*catkin*
.cproject
.project
Makefile
test_results/
CTestTestfile.cmake
CMakeCache.txt
cmake_install.cmake
*~
*.pyc
install/*
src/CMakeLists.txt
*.idea*
.metadata/*
runsnake*/
wasroscomm*/
core
*.bag
*.user
*.cbp
*.autosave

CATKIN_IGNORE

