*build*
*devel*
*CMakeFiles*
*catkin_generated*
*catkin*
.cproject
.project
Makefile
Unity\ project/Colorado/Library/*
Unity\ project/Colorado/obj/*
Unity\ project/Colorado/screenshots/*
Unity\ project/Colorado/.vscode/*
test_results/
CTestTestfile.cmake
CMakeCache.txt
cmake_install.cmake
*~
*.pyc
install/*
build/*
devel/*
src/CMakeLists.txt
*.idea*
.metadata/*
runsnake*/
wasroscomm*/
core
*.bag
*.user
*.cbp
*.autosave
*.meta
CATKIN_IGNORE

